.recipeImage{
  padding-top: 20px;
}
.recipeWrapper p{ 
 white-space:pre-line;
 text-align: justify;
 font-style:italic
}
.recipeWrapper div{
  text-align: justify;
  font-weight: bold;

 }

 .rating{
   display: inline block;
 }

 .rating img{
  
   padding-left: 5px;
   height: 40px;
   width: 40px;
 }