.recipeImage{
  padding-top: 20px;
}
.recipeWrapper p{ 
margin-left: 10%;
 white-space:pre-line;
 text-align: justify;
 font-style:italic;
 width:80%
}

 .title{
  text-align: justify;
  font-weight: bold;
  margin-left: 10%;
 }

