.categoryViewItem{
  display: block;
  padding-top: 20px;
}
.categoryContainer{
  
    /* display: flex; */
    align-items: center;
    justify-content: center
  
}
.imgContainer{
  display: block;
width: 360px;
height: 240px;
    padding-left: 20px;

}
