.categories{
  padding-top: 2%;
}

.category{
  display: inline-block;
  margin-right: 20px;
  font-weight: strong;
  font-size: 14pt;
  /* border: 1px solid black */
}
.category div{
  
  font-weight:bold;
}
.row-2{
  padding-top: 1%;
}