.nav {
  list-style-type: none;
  height: 55px;
  margin: 0;
  padding: 0;
  background-color: rgb(41, 42, 56);

}

.nav-item {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	transition: .1s;

}
.nav-item:hover{
opacity: 0.6;
}
.left{
float: left;
padding-left: 20%;
}
.right{
  float: right;
  padding-right: 20%;
  }