 form label {
  display: block;
}

.checkboxContainer{
  position: relative;
}
input[type="checkbox"]{
  display: inline-block;
  margin-left: 2em;
  margin-right: 0.5em;
}
.checkboxLabel{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}